<template>
<div>
    <ReportDesignerComponent />
</div>
</template>

<script>
import ReportDesignerComponent from './components/ReportDesignerComponent';

export default {
name: 'app',
components: {
    ReportDesignerComponent
    }
}
</script>
